<div class="form-group">
    <label class="control-label dash-control-label col-xs-3">קטגוריה</label>
    <div class="col-xs-9">
      <select [(ngModel)]="mainCategory">
        <option disabled [ngValue]="null">-/-</option>
        <option [ngValue]="category" *ngFor="let category of mainGroups">{{category.title}}</option>
      </select>
    </div>
  </div>
  
  <!--Subcategory-->
  
  <div class="form-group">
    <label class="control-label dash-control-label col-xs-3">נושא</label>
    <div class="col-xs-9">
      <select [(ngModel)]="subcategory"  (change)='channelSelected()'>
        <option [ngValue]="subcategory" *ngFor="let subcategory of filterSubById(mainCategory.id)">{{subcategory.title}}</option>
      </select>
    </div>
  </div>